.profile {
  width: 480px;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border-radius: 10px; */
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.avatar {
  display: flex;
  max-width: 50%;
  border-radius: 50%;
  border: 5px dotted rgb(75, 74, 74);
}

.profileName {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2.5rem;
}

.profileTag,
.profileLocation {
  margin: 0.5rem;
  font-size: 2rem;
  color: #8a8b8e;
}

.stats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.stats > li {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  border-top: 1px solid #d3d5e3;
  background-color: rgba(241, 241, 241, 0.833);
}

.viewsItem {
  border-left: 1px solid #d3d5e3;
  border-right: 1px solid #d3d5e3;
}

.followersItem {
  border-radius: 0 0 0 0.5rem;
}

.likesItem {
  border-radius: 0 0 0.5rem;
}

.label {
  padding-bottom: 0.5rem;
  color: #8a8b8e;
}

.quantity {
  font-weight: bold;
  border-radius: 0.5rem;
}
